<% if (flash && flash.error) { %>
    <p style="color: red;"><%= flash.error %></p>
<% } %>
<form method="POST">
email<input name="email" type="email"><br>
password<input name="password" type="password"><br>
<button>Sign in</button>
</form>