<% if (flash && flash.error) { %>
    <p style="color: red;"><%= flash.error %></p>
<% } %>

<form method="POST" enctype="multipart/form-data">
caption<input name="caption"><br>
detail<input nmae="detail"><br>
picture<input name="pic" type="file" accept="image/jpg","image/png"><br>
<button>Upload</button>
</form>