<div class="container">
<table class="table table-striped">
<%       
const head = Object.keys(rows[0])
.filter(val=> val !== 'id' && val !== 'create_at')
.reduce((sum,val)=>{
    return sum+=`<th>${val}</th>`;
},'');
const body = rows
.reduce((sum,val)=>{
    sum+=`<tr>`;
    for(let i in val){
        if(val[i] !== val.id && val[i] !== val.create_at){
            sum+=`<td>${val[i]}</td>`;
        }
    }
    return sum+=`</tr>`;
},'');
const table = `<thead><tr>${head}<tr></thead><tbody>${body}</tbody>`;
%>
<%-table%>
</table>
</div>