<%
let head = Object.keys(rows[0])
.reduce((sum,val)=>{
    return sum+=`<th>${val}</th>`
},'');
const body = rows
.reduce((sum,val)=>{
    sum+=`<tr>`;
    for(let i in val){
        sum+=`<td>${val[i]}</td>`;
    }
    return sum+=`</tr>`;
},'');
const table = `<thead><tr>${head}</tr></thead><tbody>${body}</tbody>`;
%>
<div class="container">
<table class="table table-striped">
<%-table%>
</table>
</div>