<form method="POST">
email<input name="email" type="email"><br>
password<input name="password" type="password"><br>
confirm password<input name="confirm_password" type="password"><br>
<button>Sign up</button>
</form>