<!DOCTYPE html>
<html lang="en">

<head>
    <title>title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<%-body%>
</body>

</html>