@import '~bootstrap/dist/css/bootstrap.min.css';
@media (min-width: 576px) {
.container {
        flex-direction: row;
        justify-content: flex-start
    }
}

.row {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.col-xs-6{
    margin-top: 15px;
}
@media (min-width: 992px) {
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    .item {

        margin: 0.4em;
    }
}