@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';

.container {
    margin-top: 5em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}