<div class="container">
<table class="table table-striped">
<%
const head = Object.keys(rows[0])
.reduce((sum,val)=>{
    return sum+=`<th>${val}</th>`;
},'');
const body = rows
.reduce((sum,val)=>{
    sum+=`<tr>`;
    for(let i in val){
        sum+=`<td>${val[i]}</td>`;
    }
    return sum+=`</tr>`;
},'');
const table = `<thead><tr>${head}</tr></thead><tbody>${body}</tbody>`;
%>
<%-table%>
</table>

<br>

<table class="table table-striped">
<%
const head2 = Object.keys(rows2[0])
.reduce((sum,val)=>{
    return sum+=`<th>${val}</th>`;
},'');
const body2 = rows2
.reduce((sum,val)=>{
    sum+=`<tr>`;
    for(let i in val){
        sum+=`<td>${val[i]}</td>`;
    }
    return sum+=`</tr>`;
},'');
const table2 = `<thead><tr>${head2}</tr></thead><tbody>${body2}</tbody>`;
%>
<%-table2%>
</table>
</div>