<%if(flash && flash.error){%>
    <p style="color: red;"><%= flash.error%></p>
<% } %>

<form method="POST">
email: <input name="email" type="email"><br>
password: <input name="password" type="password"><br>
<button>Sign in</button>
</form>
<div class="fb-login-button" data-onlogin="checkLoginState()" data-scope="public_profile,email" data-width="200px" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
<%  include ../views/fb %>