<form method="POST" enctype="multipart/form-data">
caption <input name="caption"><br>
detail <input name="detail"><br>
picture <input name="pic" type="file" accept="image/jpg,image/jpeg,image/png"><br>
<button>Upload</button>
</form>