<h1>About ME</h1>
    <article>
        <section>
            <img src="/images/img.jpg" width="200" height="200">
        </section>
    </article>
    <p>จงสร้างเว็บไซต์ Portfolio แนะนำตัวเองทั้งหมด 3 หน้า โดยต้องมีเมนู link หากันได้ใส่รูปตัวเอง 1 รูป ขนาด 200x200 pixelพร้อมจัดกลางหน้าบรรยายแนะนำตัวเอง
        1 ย่อหน้า (ต้องมีย่อหน้าด้วย) สำหรับหน้า Porfolio ให้ทำในการบ้าน #3ชื่อ tag ที่ใช้ทั้งหมด p, a, h1, img, br, ul,
        liชื่อ stylesheet ที่ใช้ margin, text-align, width,height, display: block, text-indentเซพไฟล์ชื่อ index.html

    </p>