<table border="0">
            <tr>
                <td colspan="8">
                    <img src="/images/la.jpeg" width="30" height="30">My Application
                    <input type="search" name="googlesearch" value="search product">
                    <input type="submit" value="Search">
                    <a href="">New Product</a>
                </td>
            </tr>
            <tr>
                <td>
                    <td>
                        <img src="/images/la.jpeg" width="150" height="100">
                    </td>
                    <td valign="top">
                        <ol>
                            <li>Product Name</li>
                            <li>Price</li>
                            <li>Description</li>
                        </ol>
                    </td>
                </td>
                <td>
                    <td>
                        <img src="/images/la.jpeg" width="150" height="100">
                    </td>
                    <td valign="top">
                        <ol>
                            <li>Product Name</li>
                            <li>Price</li>
                            <li>Description</li>
                        </ol>
                    </td>
                </td>
            </tr>
            <tr>
                <td>
                    <td>
                        <img src="/images/la.jpeg" width="150" height="100">
                    </td>
                    <td valign="top">
                        <ol>
                            <li>Product Name</li>
                            <li>Price</li>
                            <li>Description</li>
                        </ol>
                    </td>
                </td>
                <td>
                    <td>
                        <img src="/images/la.jpeg" width="150" height="100">
                    </td>
                    <td valign="top">
                        <ol>
                            <li>Product Name</li>
                            <li>Price</li>
                            <li>Description</li>
                        </ol>
                    </td>
                </td>
            </tr>
            <tr></tr>
        </table>