<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <style>
    h1 {
        display: block;
        text-align: center;
    }

    article {
        text-align: center;
    }

    p {
        text-indent: 2em;
    }
    </style>
</head>

<body>
    <% include navbar%>
    <%-body%>
</body>

</html>