<!DOCTYPE html>
<html lang="en">

<head>
    <title>title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>

<body>
<div class ="container">
<table class="table table-striped">
<%
let table;
if(Object.keys(user).length === 0){}else{
const head = Object.keys(user[0]).reduce((sum, val) => {
  return (sum += `<th>${val}</th>`);
}, "");
const body = user.reduce((sum, val) => {
  sum += `<tr>`;
  for (let i in val) {
    sum += `<td>${val[i]}</td>`;
  }
  return (sum += `</tr>`);
}, "");
table = `<thead><tr>${head}</tr></thead><tbody>${body}</tbody>`;
}
%>
<%-table%>
</table>
</div>
</body>

</html>